<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <h1>Testje</h1>

        <!--<div>-->
        <!---->
        <!--</div>-->

        <div>
          {{bezig}}
        </div>

        <button type="button" (click)="testje()" class="btn btn-primary btn-sm">Add row</button>


        <div class="row" *ngFor="let number of dummyArray; let i=index">
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
        </div>
      </div>
      <div class="col-6">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Je krijgt korting bij</th>
              <th scope="col">Met code</th>
              <th scope="col">Via influencer</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let number of dummyArray; let i=index">
              <th scope="row">{{i + 1}}</th>
              <td>{{getThaDingetjuh(i)}}</td>
              <td>{{getThaDingetjuh(i)}}</td>
              <td>{{getThaDingetjuh(i)}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-3">
        <form [formGroup]="profileForm">

          <div formArrayName="aliasesr">
            <h3>Aliasesr</h3> <button (click)="addAlias()">Add Alias</button>

            <div *ngFor="let alias of aliasesr.controls; let i=index">
              <!-- The repeated alias template -->
              <label>
                Alias:
                <input type="text" [formControlName]="i">
              </label>
            </div>
          </div>

          <div formArrayName="beasts">
            <h3>Beasts</h3> <button (click)="addBeast()">Add Beast</button>

            <div *ngFor="let beast of beasts.controls; let i=index">
              <!-- The repeated alias template -->
              <label>
                Beast:
                <input type="text" [formControlName]="i">
              </label>
            </div>
          </div>
        </form>

        <hr>

        <p>
          Form Value: {{ profileForm.value | json }}
        </p>


      </div>
    </div>



</div>
