<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <h1>Testje</h1>

        <!--<div>-->
        <!---->
        <!--</div>-->

        <div>
          {{bezig}}
        </div>

        <button type="button" (click)="testje()" class="btn btn-primary btn-sm">Add row</button>


        <div class="row" *ngFor="let number of dummyArray; let i=index">
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
          <div class="col-4">
            <input type="text" [(ngModel)]="bezig">
          </div>
        </div>
      </div>
      <div class="col-6">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Je krijgt korting bij</th>
              <th scope="col">Met code</th>
              <th scope="col">Via influencer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let number of dummyArray; let i=index">
              <th scope="row">{{i + 1}}</th>
              <td>{{getDiscountCompany(i)}}</td>
              <td>{{getDiscountCode(i)}}</td>
              <td>{{getInfluencer(i)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <form [formGroup]="profileForm">

          <div formArrayName="discount_companies">
            <h3>Discount Companies</h3> <button (click)="addDiscountCompany()">Add discount company</button>

            <div *ngFor="let company of discount_companies.controls; let i=index">
              <input type="text" [formControlName]="i">
            </div>
          </div>

          <div formArrayName="discount_codes">
            <h3>Discount Codes</h3> <button (click)="addDiscountCode()">Add discount code</button>

            <div *ngFor="let code of discount_codes.controls; let i=index">
              <input type="text" [formControlName]="i">
            </div>
          </div>

          <div formArrayName="influencers">
            <h3>Influencers</h3> <button (click)="addInfluencer()">Add influencer</button>

            <div *ngFor="let code of influencers.controls; let i=index">
              <input type="text" [formControlName]="i">
            </div>
          </div>
        </form>

        <hr>

        <p>
          Form Value: {{ profileForm.value | json }}
        </p>


      </div>
    </div>



</div>
