<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <button type="button" (click)="addAll()" class="btn btn-primary btn-sm">Add row</button>

        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-10">
              <div class="row">
                <div class="col-4">
                  <div formArrayName="discount_companies">
                    <div *ngFor="let company of discount_companies.controls; let i=index">
                      <input class="working-table-fill-in-field" type="text" [formControlName]="i">
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div formArrayName="discount_codes">
                    <div *ngFor="let code of discount_codes.controls; let i=index">
                      <input class="working-table-fill-in-field" type="text" [formControlName]="i">
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div formArrayName="influencers">
                    <div *ngFor="let code of influencers.controls; let i=index">
                      <input class="working-table-fill-in-field" type="text" [formControlName]="i">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div *ngFor="let company of discount_companies.controls; let i=index">
                <button class="small-delete-button" type="button" (click)="deleteRow(i)">Delete</button>
              </div>
            </div>
          </div>
        </form>

        <button type="button" (click)="calculateTableStyle()" class="btn btn-primary btn-sm">Generate table</button>
      </div>
      <div class="col-6">
        <div class="table-outline">
          <table class="sjonk table table-dark" [ngStyle]="{
            'height.px' : tableHeight,
            'width.px' : tableWidth,
            'font-size.px' : tableFontSize
            }">
            <thead>
              <tr>
                <th class="smaller" scope="col">28 jan</th>
                <th scope="col">Je krijgt korting bij</th>
                <th scope="col">Met code</th>
                <th scope="col">Via influencer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of discount_companies.controls; let i=index" [ngStyle]="{
                'height.px' : tableRowHeight,
                'line-height.px' : tableRowLineHeight,
                'min-height.px' : tableRowMinHeight
                }">
                <th scope="row">{{i + 1}}</th>
                <td>{{getDiscountCompany(i)}}</td>
                <td>{{getDiscountCode(i)}}</td>
                <td>{{getInfluencer(i)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
